@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat";  
}
#top-section {
  background-image: url(./assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#header {
  display: flex;
  width: 100%;
}
#header h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;

  font-family: "Montserrat";
  margin-top: 16px;
}
#explore-h {
  margin-left: 50%;
  width: 100px;
  height: 50px;
  transition: all 0.3s;
  text-align: center;
  padding: 4px;
  color: #f4d7a6;
}
#login-h {
  margin-left: 325px;
  width: 100px;
  transition: all 0.3s;
  height: 50px;
  background-color: #303334;
  text-align: center;
  padding: 12px;
  color: #ca7648;
  height: 50px;
  border-radius: 10px;
  left: 1309px;
}
#login-h:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  cursor: pointer;
  color: #f4d7a6;
}
#cart-h {
  margin-left: 80px;
  color: #f4d7a6;
  width: 100px;
  text-align: center;
  padding: 4px;
  height: 50px;
  transition: all 0.3s;
}
#cart-h:hover,
#explore-h:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  color: #ca7648;
  cursor: pointer;
}
#logo {
  position: absolute;
  margin: 16px;
  font-size: large;
  font-weight: bold;
  color: #fff;
}
#hero-title {
  position: absolute;
  width: 300px;
  height: 39px;
  left: 1081px;
  top: 150px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;

  color: #111e22;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#ichiraku-ramen {
  position: absolute;
  width: 256px;
  height: 256px;
  left: 1091px;
  top: 225px;
  transition: all 0.3s;
  background: url(ramen.png);
  filter: drop-shadow(16px 5px 9px rgba(0, 0, 0, 0.25));
}
#ichiraku-ramen:hover {
  transform: scale(1.02);
}
#top-d {
  position: absolute;
  width: 380px;
  height: 44px;
  left: 1029px;
  top: 500px;
  transition: all 0.3s;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;

  color: #6e381d;
}
#top-d {
  font-size: 23px;
  font-weight: 400;
}
#explore-b {
  position: absolute;
  width: 200px;
  height: 27px;
  left: 1119px;
  top: 600px;
  position: absolute;
  width: 200px;
  height: 60px;
  left: 1119px;
  cursor: pointer;
  transition: all 0.3s;
  top: 575px;
  padding: 16px;
  background: #303334;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;

  text-align: center;

  color: #e4cca9;
}

#explore-b:hover {
  border-radius: 25px;
  transform: scale(1.1);
  box-shadow: 2.5px 5px #111e2241;
  font-size: 18px;
}
#second-section {
  background: #2a312f;
  z-index: -3;
  height: 1100px;
}
#popular {
  position: absolute;
  width: 241px;
  height: 49px;
  left: 600px;
  top: 788px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;

  text-align: center;
  letter-spacing: 0.35em;

  color: #f4d7a6;
}

#product-card-1 {
  position: absolute;
  width: 650px;
  height: 400px;
  left: 50px;
  top: 875px;

  background: rgba(17, 30, 34, 0.75);
  border-radius: 25px;
}
#img {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 25px;
  top: 50px;
}
#buy {
  position: absolute;
  width: 225px;
  height: 60px;
  left: 375px;
  top: 50px;
  transition: all 0.3s;
  padding: 12px;
  background: #ca7648;
  border-radius: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  text-align: center;

  color: #2a312f;
}
#atf {
  position: absolute;
  width: 225px;
  height: 27px;
  left: 380px;
  top: 140px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 27px;

  color: #ffffff;
}
#heart {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 560px;
  color: #f4d7a6;
  top: 135px;
}
#lorem {
  position: absolute;
  width: 225px;
  height: 54px;
  left: 375px;
  top: 280px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 19px;
  line-height: 23px;

  color: #ffffff;
}
#product-card-2 {
  position: absolute;
  width: 650px;
  height: 400px;
  left: 750px;
  top: 875px;

  background: rgba(17, 30, 34, 0.75);
  border-radius: 25px;
}
#product-card-4 {
  position: absolute;
  width: 650px;
  height: 400px;
  left: 750px;
  top: 1325px;

  background: rgba(17, 30, 34, 0.75);
  border-radius: 25px;
}
#product-card-3 {
  position: absolute;
  width: 650px;
  height: 400px;
  left: 50px;
  top: 1325px;

  background: rgba(17, 30, 34, 0.75);
  border-radius: 25px;
}
#buy:hover{
    cursor: pointer;
    transform: scale(0.9);
    font-size: 32px;
    transition: all 0.3s;
}
